@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@layer base {
  p {
    @apply text-neutral-400;
    @apply text-sm;
    @apply leading-7;
  }

  a:not(.blind-simon-says, .portfolio, .nav__list-item) {
    @apply text-neutral-400;
    @apply hover:text-white;
    @apply transition-all;
  }

  hr {
    @apply max-w-2xl;
    @apply m-auto;
    @apply my-5;
    @apply border-neutral-400;
  }

  footer a {
    @apply text-sm;
  }

  .portfolio {
    font-family: "Pacifico", cursive;
    font-weight: bolder;
    font-style: normal;
  }

  .blind-simon-says {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
    @apply text-emerald-500;
  }
}